AccessModifierOffset: -4
AlignAfterOpenBracket: BlockIndent
AllowShortBlocksOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLoopsOnASingleLine: true
BinPackArguments: false
BinPackParameters: false
ColumnLimit: 0
Cpp11BracedListStyle: false
EmptyLineBeforeAccessModifier: Leave
FixNamespaceComments: false
IndentCaseLabels: true
IndentWidth: 4
PointerAlignment: Left
SpaceBeforeCpp11BracedList: true
TabWidth: 4
UseTab: Always
